* {
  font-family: "Inika", serif;
  font-weight: 400;
  font-style: normal;

}
body{
  overflow-x: hidden;
}
.landingspagina {
  display: flex;
  justify-content: center;
  height: 20vh;
  width: 100vw;
  align-items: center;
  font-size: xx-large;
}

.reis-formulier {
  display: flex;
  justify-content: center;
  height: 10vh;
  width: 100vw;
}
.reis {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(103, 131, 164, 1);
  width: 70vw;
  border-radius: 30px;
}
.reis-formulier input {
  height: 50px;
  border-radius: 50px;
  width: 18%;
  text-indent: 10px;
  border: none;
}
.aangerade-reizen {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
/* #wrap{
  display: flex;
  width: 100vw;
  height: 80vh;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 50vw;
  background-color: aqua;
} */
.aangerade-reizen-blok {
  height: 300px;
  width: 500px;
  background-color: black;
}
